{% extends 'layout.html' %}
{% from 'macros.html' import render_table, show_plot %}

{% block content %}
<div class="container">
  <h1>Book Diagrams and Tables</h1>
  <p>This page contains all the diagrams and tables that will be used in the book.</p>
  <ul>
    <li><a href='#ch01'>Chapter 01</a> </li>
    <li><a href='#ch02'>Chapter 02</a> </li>
    <li><a href='#ch03'>Chapter 03</a> </li>
    <li><a href='#ch04'>Chapter 04</a> </li>
    <li><a href='#ch05'>Chapter 05</a> </li>
    <li><a href='#ch06'>Chapter 06</a> </li>
    <li><a href='#ch07'>Chapter 07</a> </li>
    <li><a href='#ch08'>Chapter 08</a> </li>
    <li><a href='#ch09'>Chapter 09</a> </li>
    <li><a href='#ch0A'>Appendix A</a> </li>
</ul>
  

  <h2><a name='ch01'>Chapter 01</a> </h2>

  {% for key, table in table_data['ch01'].items() %}
  <h3 name='{{key}}'>{{ table.caption }}</h3>
  {{ render_table(table) }}
  {% endfor %}

  {{ show_plot('book_overview.png', "Data sets size over time, linear scale") }}

  {{ show_plot('book_overview_log.png', "Data sets size over time, log scale") }}
  
  <h2><a name='ch02'>Chapter 02</a> </h2>
  <h2><a name='ch03'>Chapter 03</a> </h2>
  <h2><a name='ch04'>Chapter 04</a> </h2>

  {% for key, table in table_data['ch04'].items() %}
  <h3 name='{{key}}'>{{ table.caption }}</h3>
  {{ render_table(table) }}
  {% endfor %}

  {{ show_plot('book_meiji_vs_hs.png', "Similarity of Meiji and Heisei") }}
  {{ show_plot('book_meiji_vs_bc.png', "Similarity of Meiji and Baby Calendar") }}
  <h2><a name='ch05'>Chapter 05</a> </h2>
  <h2><a name='ch06'>Chapter 06</a> </h2>
  <h2><a name='ch07'>Chapter 07</a> </h2>
  <h2><a name='ch08'>Chapter 08</a> </h2>
  <h2><a name='ch09'>Chapter 09</a> </h2>
  <h2><a name='ch0A'>Appendix A</a> </h2>

  
  <!-- Add diagrams and tables here -->
  <img src="{{ url_for('static', filename='plot/years_births.png') }}" alt="Births per Year">
  <img src="{{ url_for('static', filename='plot/years_totals.png') }}" alt="Meiji Totals">
  <!-- Add more images or tables as needed -->

</div>
{% endblock %}
