{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Color and sort according to type   -->

<div class="container">
  <h1>Orthography: {{name}}</h1>
  <p>Here are the details for the orthography "{{name}}":</p>
  <ul>
    {% for orth, pron in kindex[name] %}
      <li>Orthography: {{orth}}, Pronunciation: {{pron}}</li>
    {% endfor %}
  </ul>
  <p>Note: The list above shows all pronunciations associated with the orthography "{{name}}".</p>
</div>
{% endblock %}
