<header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a href="{{ url_for('home') }}" class="navbar-brand"><img width=50
					   src="{{ url_for('static',
					   filename='img/ltdb.png')
					   }}"/>{{db_name}}</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
     <a href="{{ url_for('home') }}"
		 class="nav-link">Overview</a></li>
	    <li class="nav-item">
	      <a href="{{ url_for('names') }}"
		 class="nav-item nav-link">Names</a></li>
	    <li class="nav-item">
	      <a href="{{ url_for('stats') }}"
		 class="nav-item nav-link">Statistics</a></li>
	      <!-- Features -->
	    <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarFeatures" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
	  <ul class="dropdown-menu" aria-labelledby="navbarFeatures">
	    {% for (feat1, feat2, name, possible) in features %}
	    <li>
	        {% if db_src in possible %}
	        <a href="{{ url_for('feature', f1=feat1, f2=feat2, nm = name ) }}" class="dropdown-item">{{name}}</a>
	        {% else %}
	        <span class="dropdown-item text-muted">{{name}}</span>
	        {% endif %}
	    </li>
	    {% endfor %}
	     </ul></li>
	      <!-- Overall -->
	    <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarOverall" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Overall
          </a>
	  <ul class="dropdown-menu" aria-labelledby="navbarOverall">
	    {% for (feat1, feat2, name, possible) in overall %}
	    <li>
	      {% if db_src in possible %}
	      <a href="{{ url_for('feature', f1=feat1, f2=feat2, nm = name ) }}"
		 class="dropdown-item">{{name}}</a></li>
	      {% else %}
	      <span class="dropdown-item text-muted">{{name}}</span>
	      {% endif %}
	    {% endfor %}
	     </ul></li>
	      <!-- Phenomena -->
	    <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarPhenomena" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Phenomena
          </a>
	  <ul class="dropdown-menu" aria-labelledby="navbarPhenomena">
	    {% for (feat1, feat2, name) in phenomena  %}
	    <li><a href="{{ url_for(feat1) }}"
		   class="dropdown-item">{{name}}</a></li>
	    {% endfor %}
	     </ul></li>

	    <li class="nav-item">
	      <a href="{{ url_for('years') }}"
		 class="nav-item nav-link">By Year</a></li>
	      <!-- Documentation -->
	    <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDocs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Documentation
          </a>
	  <ul class="dropdown-menu" aria-labelledby="navbarDocs">
	    <li><a href="{{ url_for('docs_data') }}" class="dropdown-item">Data</a></li>
	    <li><a href="{{ url_for('docs_download') }}" class="dropdown-item">Download</a></li>
	    <li><a href="{{ url_for('docs_morae') }}" class="dropdown-item">Morae &amp; Syllables</a></li>
	    <li><a href="{{ url_for('docs_features') }}" class="dropdown-item">Features</a></li>
	    <li><a href="{{ url_for('docs_licenses') }}" class="dropdown-item">Licenses</a></li>
	  </ul></li>
	    {% if show_book %}
	    <li class="nav-item">
	      <a href="{{ url_for('book') }}"
		 class="nav-item nav-link">Book</a></li>
	    {% endif %}
	  </ul>
	  <!-- Search Forms -->
	  <form class="d-flex" role="search" action="{{ url_for('namae') }}" method="get">
	      <input class="form-control me-2" type="search" name="orth" placeholder="書き方" aria-label="書き方"  style="width: 100px;">
	      <input class="form-control me-2" type="search" name="pron" placeholder="読み方" aria-label="読み方"  style="width: 100px;">
	      <button class="btn btn-outline-success" type="submit">🔍</button>
	  </form>
	  <form class="d-flex" role="search" action="{{ url_for('kanji') }}" method="get">
  	    <input class="form-control me-2" type="search" name="kanji" placeholder="漢字" aria-label="漢字" style="width: 80px;">
  	    <button class="btn btn-outline-primary" type="submit">🔍</button>
  	  </form>
  
	  
	  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	    <!-- Settings -->
	    <li class="nav-item">
	      <a href="{{ url_for('settings') }}" class="nav-link">
	        ⚙ Settings
	      </a>
	    </li>
	  </ul>

	</div>
      </div>
  </nav>
</header>
