<header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a href="{{ url_for('home') }}" class="navbar-brand"><img width=50
					   src="{{ url_for('static',
					   filename='img/ltdb.png')
					   }}"/></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
	    <li class="nav-item">
	      <a href="{{ url_for('home') }}"
		 class="nav-link">Overview</a></li>
	    <li class="nav-item">
	      <a href="{{ url_for('names') }}"
		 class="nav-item nav-link">Names</a></li>
	    <li class="nav-item">
	      <a href="{{ url_for('stats') }}"
		 class="nav-item nav-link">Statistics</a></li>
	      <!-- Features -->
	    <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarFeatures" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
	  <ul class="dropdown-menu" aria-labelledby="navbarFeatures">
	    {% for (feat1, feat2, name) in features %}
	    <li><a href="{{ url_for('feature', f1=feat1, f2=feat2, nm = name ) }}"
		   class="dropdown-item">{{name}}</a></li>
	    {% endfor %}
	     </ul></li>
	      <!-- Overall -->
	    <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarOverall" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Overall
          </a>
	  <ul class="dropdown-menu" aria-labelledby="navbarOverall">
	    {% for (feat1, feat2, name) in overall %}
	    <li><a href="{{ url_for('feature', f1=feat1, f2=feat2, nm = name ) }}"
		   class="dropdown-item">{{name}}</a></li>
	    {% endfor %}
	     </ul></li>
	      <!-- Phenomena -->
	    <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarPhenomena" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Phenomena
          </a>
	  <ul class="dropdown-menu" aria-labelledby="navbarPhenomena">
	    {% for (feat1, feat2, name) in phenomena %}
	    <li><a href="{{ url_for(feat1) }}"
		   class="dropdown-item">{{name}}</a></li>
	    {% endfor %}
	     </ul></li>

	    <li class="nav-item">
	      <a href="{{ url_for('years') }}"
		 class="nav-item nav-link">By Year</a></li>
	    <li class="nav-item">
	      <a href="{{ url_for('docs') }}"
		 class="nav-item nav-link">Documentation</a></li>

       
	  </ul>

	</div>
      </div>
  </nav>
</header>
