{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Color and sort according to type   -->

<div class="container">
  <h1>{{name}} ({{hira}})</h1>


    <table class="table table-bordered w-auto">
      <tr>
	<td>Orthograpy</td>
 	<td>{{name}}</td>
	<td class='text-end'>{{name|length}}</td>
	<td>{{script}}</td>
      </tr>
      <tr>
	<td>Morae</td>
	<td>{{mora|join('.')}}</td>
	<td  class='text-end'>{{mora|length}}</td>
      </tr>
      <tr>
	 <td>Syllables</td>
	 <td>{{syll|join('.')}}</td>
	 <td class='text-end'>{{syll|length}}</td>
      </tr>

      
    </table>

  
  
  {% set M = mfname[(name, hira)]['M'] %}
  {% set F = mfname[(name, hira)]['F'] %}

  <p>Frequency = {{M|length + F|length}}
    (Male {{M|length}}, Female {{F|length}})

  <p>Ratio (M/M+F) = {{M|length/(M|length + F|length)}}
  <p>Years {{M}}, {{F}} 


    
  {% if kindex[name]|length > 1 %}
  <p>Other pronunciations:
    {% for (kk, hh) in kindex[name] %}
    {% if hh != hira %}
    <a href='{{url_for('namae', orth=kk, pron=hh)}}'>{{hh}}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
    
  {% if hindex[hira]|length > 1 %}
  <p>Other names pronounced the same:
    {% for (kk, hh) in hindex[hira] %}
    {% if kk != name %}
    <a href='{{url_for('namae', orth=kk, pron=hh)}}'>{{kk}}</a>
    {% endif %}
     {% endfor %}
    {% endif %}
    
<!-- <p>Explanations: -->
    

</div>
{% endblock %}
