<header>
  <ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link" href="#">Overview</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Names</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Statistics</a></li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Features</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">1st Char.</a></li>
      <li><a class="dropdown-item" href="#">Last Char.</a></li>
      <!-- ... other feature items ... -->
    </ul>
  </li>
</ul>
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand"><img width=50
					   src="{{ url_for('static',
					   filename='img/ltdb.png')
					   }}"/></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <ul class="navbar-nav mr-auto">
	    <!-- Add overview of all grammars -->
	    <li class="nav-item"><a href="/"
	       class="nav-link">Overview</a>
	    <li class="nav-item"><a href="{{ url_for('names') }}"
	       class="nav-link">Names</a>
	    <li class="nav-item"><a href="{{ url_for('stats') }}"
	       class="nav-link">Statistics</a>
	    <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarFeatures" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		Features
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarFeatures">
		{% for (feat1, feat2, name) in features %}
		<li><a href="{{ url_for('feature', f1=feat1, f2=feat2, nm = name ) }}"
		   class="dropdown-item">{{name}}</a></li>
		{% endfor %}
	      </ul>
	    </li>
	  </div>
	  
	</div>
      </div>
  </nav>
</header>
