{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}



<div class="container">
  <h1>Data by Year</h1>


   <img src="{{ url_for('years_png') }}" alt="Names per Year">

   <h2>Table: Number of Names per Year ({{db_name}})</a>

<table class="table table-md table-hover w-auto">
  <thead>
    <tr>
      <th>Year</th>
      <th>M Freq</th>
      <th>Y Freq</th>
      <th>Total</th>
  </tr>
  </thead>
  <tbody>
    {% for year in names %}
    <tr>
      <td>{{year}}</td>
      <td align='right'>{{"{:,d}".format(names[year]['M']|length)}}</td>
      <td align='right'>{{"{:,d}".format(names[year]['F']|length)}}</td>
      <td align='right'>{{"{:,d}".format(names[year]['M']|length + names[year]['F']|length)}}</td>
    </tr>
    {% endfor %}
  </tbody>
  
</table>


</div>



{% endblock %}
