{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}



<div class="container">
  <h1>Data by Year</h1>

   <img src="{{ url_for('static', filename='plot/years_gender_plot.png') }}" alt="Names per Year">

   <h2>Table: Number of Names per Year ({{db_name}})</a>

<table class="table table-md table-hover w-auto">
  <thead>
    <tr>
      <th>Year</th>
      <th>M Freq</th>
      <th>Y Freq</th>
      <th>Total</th>
      <th>M % of births</th>
      <th>F % of births</th>
      <th>M births</th>
      <th>F births</th>
  </tr>
  </thead>
  <tbody>
    {% for year in names %}
    <tr>
      <td>{{year}}</td>
      <td align='right'>{{"{:,d}".format(names[year]['M'])}}</td>
      <td align='right'>{{"{:,d}".format(names[year]['F'])}}</td>
      <td align='right'>{{"{:,d}".format(names[year]['M'] + names[year]['F'])}}</td>
      <td align='right'>{{format_percentage(names[year]['M'], births[year]['M'])}}</td>
      <td align='right'>{{format_percentage(names[year]['F'], births[year]['F'])}}</td>
      {% if births[year]['M'] != 0 %} 
      <td align='right'>{{"{:,d}".format(births[year]['M'])}}</td>
      <td align='right'>{{"{:,d}".format(births[year]['F'])}}</td>
      {% else %}
      <td align='right'>No data</td>
      <td align='right'>No data</td>
      {% endif %}
     </tr>
    {% endfor %}
  </tbody>
  
</table>

<h2>Table: Number of Births per Year</a>
   <img src="{{ url_for('years_png', births=True) }}" alt="Births per Year">

</div>



{% endblock %}
