body {
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}



.container {
    padding: 50px;
}

h1 {
    margin-top: 0;
}

/* check colors */
tr.inf-rule {background:#FFEEEE}
tr.token-mapping-rule {background:#FFEEEE}
tr.rule {background:#FFAAAA}
tr.lex-rule {background:#FFDDDD}
tr.lex-type {background:#AAFFAA}
tr.lex-entry {background:#DDFFDD}
tr.generic-lex-entry {background:#DDFFDD}
tr.root {background:#FFAAFF}


 /* Styles for all frequencies in list*/
.sfreq {
}

/* Add brackets around the frequency */
.sfreq::before {
    content: '(';
}
.sfreq::after {
    content: ')';
}
.smaller {
    font-size: 0.8rem; /* Adjust as needed */
}
