{% extends "layout.html" %}

{% block content %}
<h1>{{ title }}</h1>
<!-- TABLE OF CONTENTS -->
<div class="toc mb-4">
    <ul>
    {% for toc_key in diversity_data.keys() %}
        <li><a href="#{{ toc_key }}">{{ toc_key.replace('_', ' ').title() }}</a></li>
    {% endfor %}
    </ul>
</div>
{% set precision = 3 %}
<p>Measures rounded to {{precision}} decimal places.</p>


{% for key, data in diversity_data.items() %}
    <div>
        <h2 id="{{ key }}">{{ key.replace('_', ' ').title() }}</h2>
        <div>
        <div class="mb-3">

          <h3>Visualizations</h3>
            <div class="plot-container">
    
                <img src="{{ url_for('static', filename='plot/diversity_' ~ key ~ '_Var.png') }}" class="img-fluid" alt="Diversity Measures">
            </div>
            <div class="plot-container">
                <img src="{{ url_for('static', filename='plot/diversity_' ~ key ~ '_BP.png') }}" class="img-fluid" alt="Berger-Parker Index">
            </div>
        </div>


	  
          <h3>Yearly Metrics</h3>
	  <button class="btn btn-sm btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#tables-{{ key }}" aria-expanded="false" aria-controls="tables-{{ key }}">
    Show/Hide Tables
  </button>
  <div class="collapse" id="tables-{{ key }}">
	   {% for gender, yearly in data.metrics.items() %}
	  
          <table class="table table-striped">
	    <caption>{{gender}}</caption>
                <thead>
                    <tr>
                        <th>Year</th>
                        {% set first_year_key, first_year_data = yearly.items() | first %}
                        {% for metric in first_year_data.keys() %}
                            <th>{{ metric }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for year, year_data in yearly.items() %}
                        <tr>
                            <td>{{ year }}</td>
                            {% for metric in first_year_data.keys() %}
                                <td>{{ year_data[metric] | round(precision) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
          </table>
	     {% endfor %}
        </div>
	</div>

    </div>
{% endfor %}

{% endblock %}
